

<%= form_for(@user, url: session_path) do |f| %>
  <%= f.label 'Email'%>
  <%= f.text_field :email %> 
  <%= f.label 'Password' %>
  <%= f.password_field :password %>
  <%= f.submit "Log In"%></td>
<% end %>


<%= form_for(@user) do |f| %>
 
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>

    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>

    <%= f.label :email %><br>
    <%= f.text_field :email %>

    <%= f.label :password %><br>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>

    <%= f.submit %>

<% end %>